In [17]:
import pandas as pd
import xgboost as xgb
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import KFold
import numpy as np

# Load the data
data = pd.read_csv('combine_train.csv')

# Handle missing values
data.fillna(0, inplace=True)  # Replace missing values with zeros

# Remove rows with invalid values
data = data.replace([np.inf, -np.inf], np.nan).dropna()
# Preprocess feature names
data.columns = [col.replace('[', '').replace(']', '').replace('<', '').replace('>', '') for col in data.columns]
# Separate features and target variable
X = data.drop('target', axis=1)
y = data['target']

# Define the number of folds for cross-validation
k = 5
kf = KFold(n_splits=k, shuffle=True, random_state=42)

rmse_scores = []
mae_scores = []

In [13]:
data

,property_id,Dutch,English,French,Germany,property_type,property_room_type,property_max_guests,property_bathrooms,property_bedrooms,...,None,target,booking_availability_30,booking_availability_60,booking_availability_90,booking_availability_365,reviews_num,reviews_last,reviews_rating,booking_cancel_policy
0,1,False,False,True,False,0,1,1,1.0,1,...,False,33.0,7,37,67,96,23,2,97.000000,3
1,2,False,False,True,False,14,0,4,1.5,2,...,False,26.0,0,0,25,25,1,15,100.000000,3
2,3,True,False,False,False,8,0,2,1.0,1,...,False,75.0,20,34,55,330,4,5,93.000000,3
3,4,False,True,False,False,14,1,2,1.0,1,...,False,110.0,21,46,64,339,109,4,98.000000,3
4,5,False,True,False,False,14,1,2,1.0,1,...,False,60.0,23,50,80,355,61,14,97.000000,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6490,6496,False,False,True,False,0,1,2,1.0,1,...,False,29.0,8,32,62,140,4,36,100.000000,3
6491,6497,False,False,True,False,14,1,2,1.0,1,...,False,30.0,6,36,61,249,0,17294,87.333333,3
6492,6498,False,False,True,False,0,1,2,1.0,1,...,False,58.0,0,0,0,0,0,17298,98.666667,2
6493,6499,False,True,False,False,14,1,4,1.0,1,...,False,52.0,0,0,0,0,9,211,100.000000,3
6494,6500,False,True,False,False,14,0,4,1.0,1,...,False,90.0,17,20,20,66,0,17298,85.333333,3

In [18]:
# Perform k-fold cross-validation
for train_index, val_index in kf.split(X):
    X_train, X_val = X.iloc[train_index], X.iloc[val_index]
    y_train, y_val = y.iloc[train_index], y.iloc[val_index]
    
    # Train the XGBoost model
    model = xgb.XGBRegressor()
    model.fit(X_train, y_train)
    
    # Predict on the validation set
    y_pred = model.predict(X_val)
    
    # Calculate RMSE and MAE on the validation set
    rmse = mean_squared_error(y_val, y_pred, squared=False)
    mae = mean_absolute_error(y_val, y_pred)
    
    rmse_scores.append(rmse)
    mae_scores.append(mae)

# Calculate average RMSE and MAE across all folds
avg_rmse = sum(rmse_scores) / k
avg_mae = sum(mae_scores) / k

print("Average RMSE:", avg_rmse)
print("Average MAE:", avg_mae)

Average RMSE: 55.59443667853368
Average MAE: 34.6442173510721

In [33]:
# Load the test data
test_data = pd.read_csv('combine_test.csv')
# Handle missing values in the test data
test_data.fillna(0, inplace=True)  # Replace missing values with zeros
# Convert "reviews_last" column to float
test_data['reviews_last'][0]='17294'
test_data['reviews_last'] = test_data['reviews_last'].astype(float)

test_data.columns = [col.replace('[', '').replace(']', '').replace('<', '').replace('>', '') for col in test_data.columns]
model = xgb.XGBRegressor()
model.fit(X, y)
# Predict on the test set
test_pred = model.predict(test_data)

# Print the predicted results
print("Predicted results for the test set:")
print(test_pred)

/tmp/ipykernel_72302/3421499490.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['reviews_last'][0]='17294'

Predicted results for the test set:
[ 82.065125  64.771126  84.75634   61.38403   67.500916  72.57406
  64.16381  129.08899   75.11385   51.003296  43.965496  76.429756
  59.547066  63.934284  63.999813  85.01979   40.854187  81.99744
  74.28145   80.704155 180.75227   75.14662   69.99477   52.91095
  92.04975   70.151726  58.45698   72.539955  56.858334  63.95432
 103.93684   73.62109   79.53566   59.38865   57.565304  63.520763
  46.196426  91.20096   40.181484  73.13452   87.25213   70.18882
  44.502876  74.469025  73.801056  62.057587  75.69484   45.942184
  56.106205  78.0451    85.485435  34.153893  93.3772   113.455574
  99.41835   50.39006   65.43707  109.39628   69.749825  83.9232
  43.91451   54.338974  83.631546 148.14047   64.44886   83.65338
  54.50225   59.866703  95.49886   96.987175  97.24482   59.7
  79.69051  111.34549   90.92634  101.44404   87.55576   84.711975
 105.06285  102.3778    86.48231  103.07244   97.19678  200.69978
 116.71546   88.60077   89.40096  109.81314   76.50563   91.80081
  75.26611   87.99274   80.69654   72.00568   75.234024  44.902287
  65.969444 108.36142   71.68941   73.31954   64.93345   56.187595
  72.56598  107.26688   79.384865  59.970757  81.34712   53.02334
  66.7114    44.281097  84.55022   93.99604   70.412254  56.848854
  77.85889   69.677345  40.594467  58.773342  57.383743  64.61507
  62.209404  38.177185  50.91339   76.29783   58.171776  60.81196
  78.40078   84.09288   88.6572    76.37416   41.942043  66.44804
  89.01685   72.863884 133.26578   66.30432   52.411484  66.84236
  58.323006  62.21572   46.58919   32.10953   94.762955  49.05571
 120.81833   38.995834  88.50551   80.11029  147.70592   72.69374
  62.443073  66.570114  58.83528   76.42121   91.753136 128.77625
 175.37134   93.703     50.32616   61.743557  75.07887  111.73044
  60.064377  41.430317  47.867252  91.3416   101.951355 105.667755
  35.41583   61.367966  47.987595 142.92444   78.13752  183.29099
  65.28311  119.840645 257.57553  115.97256   67.82682   65.33825
 194.7084    39.434727  62.09834   52.716957  53.044067  59.395813
  86.06758   64.81929   71.81665   53.264225  54.52382   65.777885
  59.704163  67.49372   57.41034   58.78855   74.64562  114.07867
  38.7662    48.795303  67.3174    79.36844   59.32274   49.92099
  70.18826   74.64641   83.02761   61.903896  87.442314  67.38141
  66.23375   74.8277    65.42686  130.96194   55.817146 135.82652
  73.888     57.820633  48.131485  44.07008   93.98324   59.420395
  66.25242   56.33505   55.132305  71.48896   71.136475  83.222694
  55.10817   90.33944   63.33648  113.07247   54.353836  81.01241
  53.507652  66.96789   46.023937  56.073357  63.409103  68.78754
  91.35809   82.4674    58.353096 178.8428    63.50936   85.60202
  85.31419   67.61123   97.236084  30.837093  39.59209   52.773407
  58.538982  41.483215  64.87533   66.77801   58.83829   50.65907
  52.59743   84.38412   71.619545  21.652302  57.80362   83.2748
  53.895313  69.84721   45.2555    49.580936  55.42789   93.4904
 104.457245  56.688725  76.59798   69.700195  36.111774  67.98458
  75.0549    86.67291   60.126568  37.663948  97.250496  77.15588
  66.30448   79.43011   63.25026   55.21116   69.48425  117.480484
  66.76282   16.594065  63.07222   55.6267    55.16529   53.883297
  67.545456  59.9328    77.0241    88.67252   82.77493  167.51941
  54.82481  152.30794   77.42753   92.268     62.43391   79.012985
  55.199566  68.61168  104.399185  59.980267  60.271828  62.95196
  77.08814   88.29216   54.326733  95.456375  74.73937   49.222954
  80.1656    68.70521   72.32456  150.45384   55.450085  34.644012
  33.6067    42.541092  85.96358   97.0738    76.82106  116.21704
  72.7683   101.789696  74.8731    54.76769   58.05527   53.885117
  69.980515  64.83117   66.71684  101.93179   58.657215  60.592598
  79.30339   71.15884   76.090706  83.61211   61.501774  76.95548
  80.673325  59.343437  85.72037   48.524662  60.435577  62.849342
  60.062824  66.35527   76.566246 112.010925 120.80196   43.36334
  63.98698   64.883064  67.6784    82.902504  95.88051   75.52352
  89.92628   65.68113   41.434093  63.22057   63.06695   72.10441
 110.65153   74.21175   69.59636   38.033054  27.875687 107.17705
  61.231503  56.01927   56.596916  55.43635   62.265858  72.48215
  56.53412   68.06859   79.14317   99.07486   47.114292  58.56608
 106.549126  50.393627  30.651272  66.31165  168.38416   79.24289
  29.102428  87.47317  119.562256 162.01756  145.69502   73.14552
  84.26411   90.97444   85.79816   96.22827   82.08801   77.24929
 205.33032   82.76044   86.5797   139.96356  149.66727  106.03661
 134.30643   87.249275  82.96589   91.78807   67.104294  84.312485
 114.68689   96.308266  53.894512 165.12209   94.91488  156.44351
 147.2419    87.66819  158.49956  151.30048   99.06334   96.00275
  72.17911  186.95988   65.8595   148.45506  149.76424   74.58856
 146.6511    55.4553    80.40377   89.9439   141.01219  172.86153
  94.728226 182.21849  146.6515    78.07375   38.52381   79.890945
  89.55992  157.00407   83.75639   46.08886   63.380436 107.45749
  92.59659   77.74193   71.78755   85.93289   74.43794   91.87808
  73.50912   41.34896   96.887314  51.567886  66.40948   70.524666
  65.92744   55.113007  58.57586   59.017147  42.377693  79.96116
  65.14444   57.42267   69.16979   50.79981   75.789604  21.65226
  67.550705  19.509989  63.550255  23.278172  62.710712  70.446205
 128.486     53.066723  52.19823   94.548645 168.888     46.743404
  53.62814   85.78169   72.0712    39.498413  44.137512  77.51993
  69.581696  38.884243  28.974981  59.4309    58.301685  59.945427
  57.83873   33.603554  30.359833  64.19486  136.13153   76.92493
  57.06422   58.48258   27.092062  79.28564   47.577843  94.06718
  42.702816 133.32321   44.896152  48.15134   68.62015   41.594334
  89.74751  116.82023  102.53807   41.87203  103.52398   61.680298
  34.7277   119.061104  70.33295   61.077957  73.8641    64.49915
  93.24551   73.42391   82.418755  57.25337   60.652878  68.742386
  85.035515  77.733795  75.67654   70.83577   52.421837  52.63351
 196.07002   66.724945  55.258503  56.98991   82.66102   66.75863
  14.744409  82.86235  101.54445   80.40279   67.32746  209.99887
  45.047565  58.75332   79.813065  63.4536    43.570812  90.62628
  64.48262   74.749725  79.31258   63.730465  74.825554  73.76263
  76.34107   64.15818   64.499794  66.43978   47.431602  47.04525
  73.16026   90.93572   69.41523   94.96108   79.66419   69.12192
  58.82626   98.585625  22.936464  37.75783   64.24791   78.9296
  28.38158   91.75886   69.01919  106.03955   83.06166   81.697334
  87.045296  99.08505   89.85786   54.223743  64.022156  63.5914
  72.101974 109.04349   68.76386  104.834435  56.47015   83.09191
  64.22012   72.370255  54.02181   70.60398   86.221306  48.187634
  84.97185   57.23043   77.544014  64.247406  88.53666   84.666306
  62.381126  58.539764  73.276215 104.16915   70.95619   50.394302
  47.060467 106.82371   87.3513    52.620106 108.40182   52.40814
  39.152393  62.699356  67.54734   59.7065    47.525978  72.48103
  91.83132   92.94149   67.09329   69.32537   84.741356  34.24108
  55.22624   48.536777  67.78451   64.52909   49.304184  92.22443
  54.942898  58.3986    72.58737   64.60754   74.2064    61.30416
  14.72417   87.260284  71.57932   71.55534   70.11544   72.96426
  81.277756  70.78465   80.47392   93.92024   71.09776   59.233883
  72.82872   37.553967  55.0174    57.963352  70.22873   58.919624
  60.044613  90.859146  43.683136 160.46991   48.683266  39.031364
  58.775974  59.679844  63.604843  61.812904  96.88218   47.860386
  38.08535  111.70219   74.76937   66.331505  70.998184  98.504074
 163.32953   77.741875  83.237434  86.78075   98.47985   42.547096
  92.787315  65.2183    61.506165  29.171957  68.08247   41.607933
  48.17069   76.74236   29.552036  73.92289   59.832573  68.40601
  55.829838  73.325775  63.28814   48.077286  68.248146  56.763184
  76.90147   75.11273   63.325737  56.86403   88.68073   71.84341
 189.28293   82.42318   60.027584  95.17705   91.71765   80.46748
  66.390564  86.381584 131.76082  132.02707   27.654991  48.56935
  99.61078   59.46391   55.44137   72.43014  111.432655  75.03491
  71.36985   80.0979    66.57484   60.557835  58.741783 133.71587
  72.281586 100.15099   61.556755  38.380478 105.29216  127.49888
  45.052185  69.991234 121.653946  58.56995   78.633865  70.58666
  57.633728  65.579834  67.648705  65.73618  180.28217   57.37705
  77.472725  48.586037  73.12024   75.98626   75.55066  171.95952
  83.96058   93.54885   71.60795   80.586205  40.80432  127.79346
  51.49185   46.996822  53.931526  60.587414  95.31335   38.949764
 160.71968   40.308685  13.79924   29.516668  68.90163   84.17633
  63.94808  191.62288   61.312687  74.812096  69.36783   97.335304
  52.30299   80.42493   67.15495  180.93642   87.30761   61.064724
  68.49089  101.9659    52.57669   48.93769   68.437675  60.939457
  52.50601   60.69018   97.57487   67.8011    76.25592   75.49166
  95.775795  98.94833   99.55396   47.46423   62.685658  60.02112
  67.33248   96.666176  84.00592   74.95075   73.37911   51.892002
  66.80303  133.00354   79.84809   86.51622   87.03257   68.55433
  89.341705  65.33789   51.42219   90.606094  78.028496  79.46534
  72.82134   68.87284   69.10744   95.660545  46.34019   79.592186
  75.79799   40.215015  57.951054  47.65398   30.210701  77.94858
  96.41544   48.273983  60.865463  57.56363   49.788277  60.91648
  35.172085  82.36747   74.195946  65.56899  181.92027   70.092735
 143.32765   68.87819   99.91984   62.399944 180.09259   74.63964
 105.56009   81.964424  88.470924  78.1874    81.98271   55.121178
  55.024006  64.63861   79.06585   64.9539    64.5915    72.91182
  76.32461   65.95649  113.85086   56.57444   60.21117   57.470787
  22.187468  75.55205   55.425293  84.69954   59.67231   49.47606
  68.59253   52.588837  86.006386  80.332405  77.6893    52.9201
  82.53161   53.36014  173.94829   61.34438   86.10255   65.3072
  79.32254   70.81496   67.41549   67.85544   53.422527  80.819275
  49.72152   69.077354 158.4658    65.76867   72.96511   75.386444
  71.3217   100.335945 122.79471   66.86286   98.93008   56.916653
  40.613235]

In [39]:
predict=pd.DataFrame()
predict['ID']=test_data['property_id']
predict['PRE']=test_pred
predict.head(3)

     ID        PRE
0  6501  82.065125
1  6502  64.771126
2  6503  84.756340

In [40]:
predict.to_csv('predict.csv', index=False)